:host {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 16px 15vh;
  text-align: center;

  --h1-font-size: 8em;

  @media screen and (max-width: 768px) {
    --h1-font-size: 4em;
  }
}

h1 {
  font-family: "Holtwood One SC", serif;
  font-size: var(--h1-font-size);
  color: var(--app-background);
  -webkit-text-stroke-width: 1px;
  stroke-width: 1px;
  -webkit-text-stroke-color: var(--primary-text-color);
  stroke: var(--primary-text-color);
}

h2 {
  font-size: 2em;
  margin-bottom: 16px;
}

p {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 32px;
}

.mdc-button {
  --mdc-filled-button-label-text-size: 1.1em;
  --mdc-filled-button-label-text-weight: 300;
}
