.mat-toolbar {
  --mat-toolbar-container-background-color: rgba(0, 0, 0, 0.05);

  justify-content: space-between;
  border-bottom: 1px solid var(--app-border-color);
  color: inherit;
}

.brand {
  font-family: "Holtwood One SC", serif;
  font-size: 1.3em;
  text-decoration: none;
  color: var(--app-background);
  -webkit-text-stroke-width: 1px;
  stroke-width: 1px;
  -webkit-text-stroke-color: var(--primary-text-color);
  stroke: var(--primary-text-color);

  &:hover {
    color: var(--primary-text-color);
  }
}

.address {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1rem;
  font-weight: 300;

  img {
    border-radius: 50%;
  }
}
